{% extends 'resumeapp/base.html' %}

{% block title %}Resume List{% endblock %}

{% block content %}
    <h1>Resume List</h1>
    <div id="resumeGrid"></div>

    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 8px;">Name</th>
                <th style="border: 1px solid black; padding: 8px;">Email</th>
                <th style="border: 1px solid black; padding: 8px;">Phone</th>
                <th style="border: 1px solid black; padding: 8px;">Skills</th>
                <th style="border: 1px solid black; padding: 8px;">Education</th>
                <th style="border: 1px solid black; padding: 8px;">Experience</th>
                <th style="border: 1px solid black; padding: 8px;">Duplicate Entry</th>
            </tr>
        </thead>
        <tbody>
            {% for resume in resumes %}
            <tr>
                <td style="border: 1px solid black; padding: 8px;">{{ resume.name }}</td>
                <td style="border: 1px solid black; padding: 8px;">{{ resume.email }}</td>
                <td style="border: 1px solid black; padding: 8px;">{{ resume.phone }}</td>
                <td style="border: 1px solid black; padding: 8px;">{{ resume.skills }}</td>
                <td style="border: 1px solid black; padding: 8px;">
                    <a href="{% url 'resume_education' resume.id %}">View Education</a>
                </td>
                <td style="border: 1px solid black; padding: 8px;">
                    <a href="{% url 'resume_experience' resume.id %}">View Experience</a>
                </td>
                <td style="border: 1px solid black; padding: 8px;">{{ resume.is_duplicate}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
