{% extends 'resumeapp/base.html' %}

{% block title %}Education{% endblock %}

{% block content %}
    <h1>Education</h1>
    <table>
        <thead>
            <tr>
                <th>Degree</th>
                <th>Field</th>
                <th>Institution</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for edu in education %}
            <tr>
                <td>{{ edu.degree }}</td>
                <td>{{ edu.field }}</td>
                <td>{{ edu.institution }}</td>
                <td>{{ edu.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
